<div fxLayout="row wrap">

  <mat-card class="gradiente-encabezado">
    <mat-card-header>
      <mat-card-title> {{ infoPersonal.nombre }} {{ infoPersonal.apellido}}</mat-card-title>
      <mat-card-subtitle> {{infoPersonal.titulo }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image class="foto-principal" src="./assets/imagenes/Foto-perfil-actual-recortada.jpg" alt="foto-perfil">
    <mat-card-content>
      <p><mat-icon>work</mat-icon> {{infoPersonal.trabajo_actual}}</p>
      <!--<p><mat-icon>location_pin</mat-icon> {{infoPersonal}}</p>-->
      <p>{{infoPersonal.perfil}}</p>

    </mat-card-content>

    <!--<mat-card fxFlex class="gradiente-encabezado">
      <img mat-card-lg-image src="./assets/imagenes/Foto-perfil-actual-recortada.jpg" alt="foto-perfil">
    </mat-card>-->
  </mat-card>
</div>
