<div *ngIf="isMobile; else notMobile">
  <mat-accordion fxLayoutGap="20px">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h1 class="no-gap">Proyectos</h1>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-divider></mat-divider>
      <br>

      <div fxLayout="row wrap"
           fxLayout.xs="column"
           fxLayoutAlign="center"
           fxLayoutGap="20px">
        <mat-tab-group mat-align-tabs="start" animationDuration="1000">
          <mat-tab
            *ngFor="let proyecto of listadoProyectos"
            [label]="proyecto.nombre">
            <app-proyecto-tarjeta [proyecto]="proyecto"></app-proyecto-tarjeta>
          </mat-tab>
        </mat-tab-group>
      </div>

    </mat-expansion-panel>
  </mat-accordion>
</div>

<ng-template #notMobile>
  <h1>Proyectos</h1>
  <mat-divider></mat-divider>
  <br>

  <div fxLayout="row wrap"
       fxLayout.xs="column"
       fxLayoutAlign="center"
       fxLayoutGap="20px">
    <mat-tab-group mat-align-tabs="start" animationDuration="1000">
      <mat-tab
        *ngFor="let proyecto of listadoProyectos"
        [label]="proyecto.nombre">
        <app-proyecto-tarjeta [proyecto]="proyecto"></app-proyecto-tarjeta>
      </mat-tab>
    </mat-tab-group>
  </div>
</ng-template>
