<div *ngIf="isMobile; else notMobile">
  <mat-accordion fxLayoutGap="20px">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <h1 class="no-gap">Educación</h1>
      </mat-expansion-panel-header>
      <mat-divider></mat-divider>
      <br>
      <div fxLayout="row"
           fxLayout.xs="column"
           fxLayoutAlign="center"
           fxLayoutGap="20px">
        <div fxFlex="30"
             *ngFor="let item of listaFormacion">
          <app-formacion-tarjeta [educacion]="item"></app-formacion-tarjeta>
        </div>
      </div>

      <h2>Cursos</h2>
      <div fxLayout="row wrap"
           fxLayout.xs="column"
           fxLayoutAlign="center"
           fxLayoutGap="20px">
        <div fxFlex="30"
             *ngFor="let curso of listaCursos">
          <app-curso-tarjeta [curso]="curso"></app-curso-tarjeta>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>

<ng-template #notMobile>
  <h1>Educación</h1>
  <mat-divider></mat-divider>
  <br>
  <div fxLayout="row"
       fxLayout.xs="column"
       fxLayoutAlign="center"
       fxLayoutGap="20px">
    <div fxFlex="30"
         *ngFor="let item of listaFormacion">
      <app-formacion-tarjeta [educacion]="item"></app-formacion-tarjeta>
    </div>
  </div>

  <h2>Cursos</h2>
  <div fxLayout="row wrap"
       fxLayout.xs="column"
       fxLayoutAlign="center"
       fxLayoutGap="20px">
    <div fxFlex="30"
         *ngFor="let curso of listaCursos">
      <app-curso-tarjeta [curso]="curso"></app-curso-tarjeta>
    </div>
  </div>
</ng-template>

